@model buildingblocksapp.Models.Factuur

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Factuur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Factuurdatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Factuurdatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotaalBedrag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotaalBedrag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoldaanBedrag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoldaanBedrag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Betaaldatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Betaaldatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Betaalstatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Betaalstatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Klantorder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Klantorder.Naam)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FactuurId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
