@model buildingblocksapp.Models.Factuur

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Factuur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Factuurdatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Factuurdatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotaalBedrag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotaalBedrag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BetaaldBedrag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BetaaldBedrag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FactuurStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FactuurStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Klantorder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Klantorder.Naam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FactuurId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
