@model buildingblocksapp.Models.Klantorder

@{
    ViewData["Title"] = "Accept";
}

<h1>Accept</h1>

<h3>Are you sure you want to accept this?</h3>
<div>
    <h4>Klantorder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aantal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aantal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referentienummer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referentienummer)
        </dd>
    </dl>
    
    <form asp-action="Accept">
        <input type="hidden" asp-for="KlantorderId" />
        <input type="submit" value="Accept" class="btn btn-success" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
