@model IEnumerable<buildingblocksapp.Models.Klantorder>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aantal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referentienummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AkkoordAccountmanager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aantal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referentienummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AkkoordAccountmanager)
            </td>
            <td>
                <a asp-action="AcceptOrder" asp-route-id="@item.KlantorderId">AcceptOrder</a> |
                <a asp-action="Edit" asp-route-id="@item.KlantorderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KlantorderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KlantorderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
