@model buildingblocksapp.Models.Betaling

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Betaling</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Betalingsdatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Betalingsdatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bedrag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bedrag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Factuur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Factuur.FactuurId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BetalingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
