@model IEnumerable<buildingblocksapp.Models.Betaling>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Betalingsdatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bedrag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Factuur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Betalingsdatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bedrag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Factuur.FactuurId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BetalingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BetalingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BetalingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
